@{
    ViewBag.Title = "Index";
    string oInput = ViewBag.Input;
}

<h2>Challenge Two</h2>
<h4>Input an array of numbers separated by spaces</h4>
<hr />
@using (Html.BeginForm("Index", "Two", FormMethod.Post))
{
<p>
    <strong>Input:</strong>
    @Html.TextBox("arrValues", oInput, new { @class = "form-control" })
    <input type="submit" value="Submit" />
</p>
        }
        <p>
            Unique Number(s) in Array: <strong>@ViewBag.Unique</strong>
        </p>

